.naveBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff790d;
}

.naveBar li {
  float: left;
}

.naveBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1{
  text-align: center;
  color: black;
  font-size: medium;
}
